# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Caches de ferramentas
.pytest_cache/
.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Distribuição / build
*.egg-info/
build/
dist/
